body{
    display: flex;
    justify-content: center;
    align-items: center;
}

section{
    width: 500px;
    height: 50px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.colorContenedor{
    border: solid 1px #666666;
    border-radius: 20px;
    background-color: rgb(35, 35, 139);
}

h1{
    font-family: 'Roboto', Helvetica, sans-serif;
    color: rgb(138, 126, 126);
}

h1, .h1-tamaño { font-size: 2em;   }
h3, .h3-tamaño { font-size: 1.5em; }
